# OpenStreetMap (OSM) Data Wrangling Project

## Map area

For this project, I have chosen to clean and explore the OpenStreetMap data of Boston, where I currently reside:  
- https://www.openstreetmap.org/relation/2315704
- http://metro.teczno.com/#boston

In [118]:
import sqlite3
import pandas as pd 
import re
db = sqlite3.connect("OSMBoston.db")
c = db.cursor()

## Issues with map data

After downloading a sample of the OSM data, converting them to csv files using data.py, and uploading them into a SQLite database, I noticed a number of issues with the map data that warrant our attention: 
- Inconsistent state names
- Issue 2
- Issue 3

### Inconsistent state names

The state name of Massachusetts was inconsistently listed in the data surveyed. While 'MA' was the most common spelling, other entries listed it as 'MA- MASSACHUSETTS', 'Massachusetts', 'ma', and 'Ma'. We will clean these alternative spellings and standardize them as 'MA' across the board.

In [160]:
QUERY = """
        SELECT value, COUNT(*) FROM way_tags WHERE type = 'addr' AND key = 'state'
        GROUP BY value ORDER BY COUNT(*) DESC
        """
c.execute(QUERY)
rows = c.fetchall()
pd.DataFrame(rows, columns=['key', 'count'])

                 key  count
0                 MA    225
1  MA- MASSACHUSETTS     33
2      Massachusetts      3
3                 ma      2
4                 Ma      1

### Overabbreviated street names

In [119]:
QUERY = "SELECT value, COUNT(*) FROM way_tags WHERE key = 'name' GROUP BY value ORDER BY COUNT(*) DESC;"
c.execute(QUERY)
rows = c.fetchall()
street_names = pd.DataFrame(rows, columns = ['street_name', 'count'])
street_names.head(10)

              street_name  count
0       Boston HarborWalk     52
1    Massachusetts Avenue     48
2       Washington Street     48
3              Green Line     44
4       Boston University     42
5        Cambridge Street     32
6           Beacon Street     31
7  Massachusetts Turnpike     30
8             Orange Line     27
9         Boylston Street     26

In [144]:
good_st_types = []   
unexp_st_types = {}  
st_type_re = re.compile(r'\b\S+\.?$', re.IGNORECASE)

for name in street_names['street_name']: 
    street_type = st_type_re.search(name).group() 
    if street_type in unexp_st_types: 
        unexp_st_types[street_type] += 1 
    else: 
        unexp_st_types[street_type] = 1

{u'1': 5,
 u'10': 2,
 u'1001': 1,
 u'101': 1,
 u'102': 1,
 u'11': 3,
 u'12': 3,
 u'13': 1,
 u'14': 1,
 u'16': 1,
 u'17': 1,
 u'1849-1855)': 1,
 u'2': 5,
 u'2013': 1,
 u'24': 1,
 u'26': 1,
 u'3': 4,
 u'301': 1,
 u'303': 1,
 u'31': 1,
 u'33': 1,
 u'34': 1,
 u'35': 1,
 u'351': 1,
 u'36': 1,
 u'37': 1,
 u'38': 1,
 u'388': 1,
 u'39': 2,
 u'4': 4,
 u'402': 1,
 u'403': 1,
 u'404': 1,
 u'405': 1,
 u'414': 1,
 u'415': 1,
 u'416': 1,
 u'417': 1,
 u'418': 1,
 u'419': 1,
 u'420': 1,
 u'421': 1,
 u'422': 1,
 u'423': 1,
 u'424': 1,
 u'425': 1,
 u'426': 1,
 u'427': 1,
 u'428': 1,
 u'429': 1,
 u'430': 1,
 u'431': 1,
 u'432': 1,
 u'433': 1,
 u'434': 1,
 u'435': 1,
 u'436': 1,
 u'437': 1,
 u'438': 1,
 u'439': 1,
 u'440': 1,
 u'441': 1,
 u'442': 1,
 u'443': 1,
 u'444': 1,
 u'46': 1,
 u'5': 4,
 u'50': 1,
 u'502': 1,
 u'503': 1,
 u'539': 1,
 u'54': 1,
 u'542': 1,
 u'543': 1,
 u'56': 1,
 u'6': 5,
 u'62': 1,
 u'64': 1,
 u'6B': 1,
 u'7': 2,
 u'701': 1,
 u'705': 1,
 u'706': 1,
 u'710': 1,
 u'714': 1,
 u'715': 1,
 u'716': 1,
 u'717': 1,
 u'718': 1,
 u'719': 1,
 u'8': 3,
 u'802': 1,
 u'804': 1,
 u'807': 1,
 u'809': 1,
 u'810': 1,
 u'811': 1,
 u'818': 1,
 u'819': 1,
 u'820': 1,
 u'821': 1,
 u'822': 1,
 u'9': 3,
 u'901': 1,
 u'903': 1,
 u'904': 1,
 u'905': 1,
 u'908': 1,
 u'909': 1,
 u'A': 3,
 u'Academy': 1,
 u'Advocate': 1,
 u'Aid': 1,
 u'Alley': 4,
 u'Alliance': 1,
 u'America': 1,
 u'Amgen': 1,
 u'Amphitheater': 2,
 u'Annex': 4,
 u'Annunciation': 1,
 u'Apartments': 4,
 u'Apts': 1,
 u'Aquarium': 1,
 u'Aquarium)': 1,
 u'Arch': 1,
 u'Area': 12,
 u'Arena': 2,
 u'Armenise': 1,
 u'Army': 1,
 u'Art': 2,
 u'Arts': 1,
 u'Associates': 1,
 u'Association': 1,
 u'Athenaeum': 1,
 u'Auditorium': 3,
 u'Ave': 2,
 u'Ave.': 1,
 u'Avenue': 110,
 u'B': 3,
 u'Ballet': 1,
 u'Bank': 4,
 u'Basket': 1,
 u'Bathhouse': 2,
 u'Beach': 1,
 u'Beach"': 1,
 u'Bikepath': 3,
 u'Biology': 2,
 u'Biotech': 1,
 u'Biscuit': 1,
 u'Bldg': 1,
 u'Bleachers': 1,
 u'Boardwalk': 1,
 u'Boathouse': 1,
 u'Books': 1,
 u'Boston': 6,
 u'Boston)': 3,
 u'Boulevard': 9,
 u'Branch': 5,
 u'Brands': 1,
 u'Bridge': 10,
 u'Bridge)': 1,
 u'Brighton': 1,
 u'Broadway': 6,
 u'Brookline': 1,
 u'Buckminster': 1,
 u'Building': 69,
 u'Burden': 1,
 u'C': 2,
 u'C1': 1,
 u'C2': 1,
 u'Cadets': 1,
 u'Cafe': 3,
 u'Cage': 1,
 u'Cambridge': 4,
 u'Campus': 5,
 u'Care': 1,
 u'Cask': 1,
 u'Cemetery': 7,
 u'Center': 69,
 u'Central': 1,
 u'Chapel': 5,
 u'Chaplaincy': 1,
 u'Charlesgate': 1,
 u'Charlesmark': 1,
 u'Charlestown': 1,
 u'Charlestown)': 1,
 u'Charlestown-Sulliv': 1,
 u'Chayim': 1,
 u'Chi': 1,
 u'Church': 23,
 u'Circle': 13,
 u'Classico': 1,
 u'Club': 4,
 u'College': 8,
 u'Commision': 1,
 u'Common': 7,
 u'Company': 2,
 u'Complex': 5,
 u'Condomium': 1,
 u'Connector': 5,
 u'Constitution': 1,
 u'Coop': 1,
 u'Corner': 1,
 u'Correction': 1,
 u'Corridor': 2,
 u'Court': 83,
 u'Courthouse': 2,
 u'Courts': 2,
 u'Courtyard': 2,
 u'Covenant': 1,
 u'Crimson': 1,
 u'Cross': 2,
 u'Crosswalk': 1,
 u'Ctr': 2,
 u'Cyclotron': 1,
 u'Czestochowa': 1,
 u'D': 2,
 u'D)': 1,
 u'Dam': 1,
 u'Department': 1,
 u'Dept': 1,
 u'Dept.': 1,
 u'Design': 1,
 u'Development': 2,
 u'Dial-A-Pizza': 1,
 u'Diner': 2,
 u'District': 1,
 u'Donuts': 2,
 u'Dorm': 1,
 u'Doubletree': 1,
 u'Downtown': 1,
 u'Drive': 15,
 u'E': 3,
 u'E15': 1,
 u'E18': 1,
 u'E19': 1,
 u'E23': 1,
 u'E33': 1,
 u'E34': 1,
 u'E38': 1,
 u'E40': 1,
 u'E48': 1,
 u'E51': 1,
 u'E52': 1,
 u'E53': 1,
 u'East': 4,
 u'Eastgate': 1,
 u'Elementary': 1,
 u'End': 1,
 u'Engineering': 2,
 u'Enterprise': 1,
 u'Esplanade': 2,
 u'Estate': 1,
 u'Expressway': 2,
 u'Extension': 8,
 u'F': 3,
 u'Facility': 3,
 u'Farlow': 1,
 u'Federal': 1,
 u'Fens': 2,
 u'Fenway': 2,
 u'Ferry': 1,
 u'Field': 12,
 u'Firehouse': 1,
 u'Foods': 1,
 u'Footbridge': 2,
 u'Footpath': 1,
 u'Fork': 1,
 u'G': 2,
 u'Galleria': 2,
 u'Gallery': 1,
 u'Games': 1,
 u'Garage': 25,
 u'Garden': 26,
 u'Gardens': 1,
 u'Gas': 1,
 u'Gatehouse': 1,
 u'Genomics': 1,
 u'Glass': 1,
 u'Gods': 1,
 u'Goldenson': 1,
 u'Green': 1,
 u'Greenhill': 1,
 u'Greenhouse': 1,
 u'Greenway': 2,
 u'Ground': 6,
 u'Grounds': 2,
 u'Group': 1,
 u'Gym': 1,
 u'Gymnasium': 3,
 u'H': 1,
 u'HMart': 1,
 u'Hall': 102,
 u'Halls': 2,
 u'HarborWalk': 1,
 u'Harvard': 2,
 u'Headquarters': 1,
 u'Health': 1,
 u'HealthCare': 1,
 u'Heights': 1,
 u'Heliport': 1,
 u'Hemenway': 1,
 u'Herbaria': 1,
 u'Hess': 1,
 u'Highcastle': 1,
 u'Highway': 3,
 u'Hill': 1,
 u'Hillel': 2,
 u'Hilltop': 1,
 u'Hope': 1,
 u'Horse': 1,
 u'Hospital': 8,
 u'Hostel': 1,
 u'Hotel': 9,
 u'House': 33,
 u'House)': 1,
 u'Housing)': 1,
 u'Huntington': 2,
 u'IMAX': 1,
 u'Idec': 1,
 u'Immunology': 1,
 u'Inc.': 4,
 u'Inn': 1,
 u'Innovation': 1,
 u'Institute': 4,
 u'Insurance': 1,
 u'International': 1,
 u'Israel': 1,
 u'Jamaicaway': 1,
 u"Joe's": 1,
 u"John's": 1,
 u"Joseph's": 1,
 u'Kawasaki': 1,
 u'Kaze': 1,
 u"Keezer's": 1,
 u'Kennedy-Longfellow': 1,
 u'Knafel': 1,
 u'Lab': 7,
 u'Lab/Biotech': 1,
 u'LabCentral': 1,
 u'Laboratories': 3,
 u'Laboratory': 6,
 u'Labs': 3,
 u'Lafayette': 1,
 u'Lagoon': 1,
 u'Landsdowne': 1,
 u'Lane': 13,
 u'Law': 1,
 u'League': 1,
 u'Lenox': 1,
 u'Library': 12,
 u'Line': 9,
 u'Liquors': 1,
 u'Lofts': 1,
 u'Longwood': 1,
 u'Lot': 12,
 u'Lounge': 1,
 u'MAC)': 1,
 u'MCS': 1,
 u'MIT': 1,
 u'Machine': 1,
 u'Mall': 10,
 u'Management': 1,
 u'Market': 7,
 u'Marketplace': 1,
 u"Mary's": 1,
 u'McArthur': 1,
 u"McCabe's": 1,
 u'McCollum': 1,
 u'McCulloch': 1,
 u"McDonald's": 1,
 u'Medicine': 4,
 u'Mellon': 1,
 u'Memorial': 3,
 u"Mike's": 1,
 u'Millenium/Takeda': 1,
 u'Mobil': 1,
 u'Monument': 1,
 u'Museum': 5,
 u'Music': 2,
 u'NE35': 1,
 u'NE49': 1,
 u'NW30': 1,
 u'NW35': 1,
 u'Natatorium': 1,
 u'Necklace': 1,
 u'News': 1,
 u'Northbound': 2,
 u'Northpoint': 1,
 u'Novartis': 1,
 u'Nulawlab': 1,
 u'OVERLAY': 1,
 u'Office': 3,
 u'Oval': 1,
 u'Overlook': 1,
 u'Overpass': 2,
 u'Oxford': 1,
 u'PDSI': 1,
 u'Painter': 1,
 u'Paradise': 1,
 u'Park': 113,
 u'Parking': 7,
 u'Parks': 1,
 u'Parkway': 4,
 u'Pasteur': 1,
 u'Path': 6,
 u'Pauls': 1,
 u'Pavilion': 3,
 u'Pavillion': 1,
 u'Pharmaceuticals': 4,
 u'Phi': 1,
 u'Pika': 1,
 u'Pizzeria': 1,
 u'Pl': 2,
 u'Place': 169,
 u'Plant': 2,
 u'Playground': 50,
 u'Playspace': 1,
 u'Plaza': 21,
 u'Police': 3,
 u'Pond': 2,
 u'Pool': 4,
 u'Press': 2,
 u'Quadrangle': 1,
 u'Qube': 1,
 u'R': 1,
 u'ROTC': 1,
 u'Realty': 1,
 u'Regency': 1,
 u'Repair': 1,
 u'Republik': 1,
 u'Research': 2,
 u'Reservation': 2,
 u'Residence': 3,
 u'Rest': 1,
 u'Restaurant': 1,
 u'Resturant': 1,
 u'Rink': 3,
 u'River': 4,
 u'Riverway': 1,
 u'Road': 66,
 u'Rockledge': 1,
 u'Rotary': 2,
 u'Row': 8,
 u'Roxbury': 1,
 u'Run': 1,
 u'SITE': 1,
 u'SMG)': 1,
 u'Sanctuary': 2,
 u'Schlumberger': 1,
 u'Scholar': 1,
 u'School': 15,
 u'Schools': 1,
 u'Schools)': 1,
 u'Science': 3,
 u'Sciences': 1,
 u'Scientist': 1,
 u'Sculpture': 1,
 u'Seaport': 1,
 u'Shalom': 1,
 u'Shell': 2,
 u'Shipping': 1,
 u'Shop': 1,
 u'Shrine': 2,
 u'Sidney': 1,
 u'Sloan': 1,
 u'Society': 2,
 u'Somerville': 1,
 u'South': 3,
 u'Southbound': 1,
 u'Spa': 1,
 u'Space': 1,
 u'Square': 63,
 u'St': 3,
 u'St.': 8,
 u'Stadium': 1,
 u'Starbucks': 1,
 u'Station': 8,
 u'Sterns': 1,
 u'Stone': 1,
 u'Street': 889,
 u'Studies': 1,
 u'Subdivision': 1,
 u'Subs': 1,
 u'Substation': 10,
 u'Sum': 1,
 u'Supermarket': 1,
 u'Supplies': 1,
 u'Supply': 1,
 u'Synagogue': 1,
 u'Systems': 1,
 u'Tabernacle': 1,
 u'Takeda': 1,
 u'Tank': 1,
 u'Target': 1,
 u'Taylor': 1,
 u'Technologies': 1,
 u'Technology': 4,
 u'Television': 1,
 u'Temple': 1,
 u'Tennis': 1,
 u'Terminal': 2,
 u'Terrace': 26,
 u'Theatre': 3,
 u'Therapeutics': 1,
 u'Thorndike': 1,
 u'Tower': 9,
 u'Towers': 1,
 u'Towing': 1,
 u'Track': 2,
 u'Trail': 1,
 u'Triangle': 1,
 u'Trilogy': 1,
 u'Tunnel': 2,
 u'Turnpike': 1,
 u'Two': 1,
 u'U.S.': 1,
 u'Underpass': 1,
 u'Union': 3,
 u'United': 1,
 u'University': 7,
 u'Univsersity': 1,
 u'Veritas': 1,
 u'Village': 2,
 u'Vinci': 1,
 u'Wadsworth': 1,
 u"Walgreen's": 1,
 u'Walk': 1,
 u'Walkway': 1,
 u'Wash': 1,
 u'Washington': 1,
 u'Way': 78,
 u'Way-Tudbury': 1,
 u'West': 6,
 u'Westgate': 1,
 u'Wharf': 6,
 u'Wild': 2,
 u'Wing': 1,
 u'X': 1,
 u'YMCA': 1,
 u'YWCA': 1,
 u'Yard': 3,
 u'Yawkey': 1,
 u'Young': 1,
 u'bar': 1,
 u'biopharmaceuticals': 4,
 u'biotech': 1,
 u'biotech.': 1,
 u'closed)': 1,
 u'connection)': 1,
 u'garden': 1,
 u'lab.': 1,
 u'lawn': 1,
 u'loft23': 1,
 u'lot': 1,
 u'offices': 4,
 u'parking': 3,
 u'path': 1,
 u'place': 1,
 u'space': 5,
 u'space.': 1,
 u"st.'s": 1,
 u'vacant.': 2}

In [145]:
QUERY = """
        SELECT key, COUNT(*) FROM way_tags WHERE type = 'addr'
        GROUP BY key ORDER BY COUNT(*) DESC LIMIT 20;
        """
c.execute(QUERY)
rows = c.fetchall()
pd.DataFrame(rows)

               0     1
0    housenumber  1400
1         street   531
2       postcode   297
3           city   280
4          state   264
5      housename    80
6  interpolation    20
7      inclusion    17
8        country    11
9           full     3