# OpenStreetMap (OSM) Data Wrangling Project

## Map Area

For this project, I have chosen to clean and explore the OpenStreetMap data of Boston, where I currently reside:  
- https://www.openstreetmap.org/relation/2315704
- http://metro.teczno.com/#boston

## Issues with Map Data

In [70]:
import sqlite3
import pandas as pd 

db = sqlite3.connect("OSMBoston.db")
c = db.cursor()
QUERY = """
        SELECT key, COUNT(*) FROM way_tags 
        GROUP BY key 
        ORDER BY COUNT(*) DESC LIMIT 10
        """
c.execute(QUERY)
rows = c.fetchall()
pd.DataFrame(rows, columns = ['way_type', 'count'])

      way_type  count
0     building  19162
1      highway   7617
2       source   5852
3         name   5419
4  attribution   4548
5       way_id   4382
6        lanes   3689
7    condition   3459
8        width   3329
9       oneway   2501